<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clue</title>
    <link href="styles/game-styles.css" rel="stylesheet">
    <script src="js/src/scripts/game.js" type="module"></script>
</head>
<body id="game-body">
    <header>
        <div id="header-div">
            <div id="game-options">
                <button id="hand-btn">Hand</button>
                <button id="game-btn">Game</button>
            </div>
            <div class="color-cover"></div>
        </div>
    </header>
    <main>
        <div id="game-board">
            
        </div>
    </main>
</body>
</html>